In [16]:
import pandas as pd

In [17]:
df = pd.read_pickle('../data/embedded_datasets/T5_plus_whole.pkl')
df = df.drop(columns=['embeded_sequence_sum','embeded_sequence_avg'])
pd.to_pickle(df, '../data/embedded_datasets/T5_plus_whole.pkl')

In [18]:
aggregations = ['whole', 'avg', 'sum']
for agg in aggregations:
    df_t5p = pd.read_pickle(f'../data/embedded_datasets/T5_plus_{agg}.pkl')
    df_t5p = df_t5p.drop(columns=['severity', 'label'])
    df_metrics = pd.read_pickle('../data/embedded_datasets/metrics_dataset.pkl')
    df = pd.merge(df_t5p, df_metrics, on='sample_id')
    pd.to_pickle(df, f'./embedded_datasets/{agg}_merged.pkl')

In [19]:
df = pd.read_pickle('./embedded_datasets/whole_merged.pkl')
df.head()

,sample_id,em_1,em_2,em_3,em_4,em_5,em_6,em_7,em_8,em_9,...,innerClassesQty,lambdasQty,uniqueWordsQty,modifiers,logStatementsQty,from_project,label,type_class,type_innerclass,type_interface
0,4432196,-0.032667,-0.014135,-0.026271,0.013122,0.006806,0.014888,0.037827,-0.149637,0.005567,...,0,0,21,1,0,1,1,1.0,0.0,0.0
1,7391055,-0.016414,0.004841,-0.074231,-0.010195,-0.077366,-0.055006,0.051985,0.008177,0.018444,...,0,0,12,1,0,1,1,1.0,0.0,0.0
2,4687786,-0.018041,-0.004828,-0.164243,-0.003471,-0.006314,0.011207,-0.058506,-0.069209,0.018128,...,0,0,96,1,0,1,1,1.0,0.0,0.0
3,3797964,-0.097944,0.048423,-0.008628,-0.022152,-0.070442,-0.049730,-0.064467,-0.026823,0.038378,...,0,0,5,9,0,1,1,0.0,1.0,0.0
4,5339993,-0.006522,0.013563,-0.120788,-0.006446,-0.051390,-0.048318,0.045672,-0.069744,0.078559,...,0,0,10,1,0,1,1,1.0,0.0,0.0